extends ../layout

block content
  if message
    div.error-message= message

  div.form-container
    h2 Sign up for Lil-Bytes!
    form(method='POST' action='/users/signup')
      .form
        label Email
        input(type='text', name='email')
      .form
        label Password
        input(type='password', name='password')
      .form
        input.button(type='submit', value='Submit')
