extends ../layout

block content
  if message
    div.error-message= message

  h2.top-margin Sign up for Lil-Bytes!
  form(method='post' action='/users/signup')
    .form
      label Email
      input(type='text', name='email')
    .form
      label Password
      input(type='password', name='password')
    .form
      input.button(type='submit', value='Submit')
