extends ./layout

block content
  .section-one
    h1.section-one__header Tech for Bay Area Kids
    h1.section-one__sub-header Free Coding Classes in Oakland for children ages 5-10
    a.button(href='#') Learn More
  .section-two
    h1.section-two__header Join a group of local engineering professionals who donate their time to share the magic and fun of programming
    .ul
      h1.li All levels welcomes
      h1.li Creative cirri
