doctype html
html
  head
    link(href='https://fonts.googleapis.com/css?family=Amatic+SC:700|Open+Sans+Condensed:300', rel='stylesheet')
    link(rel="stylesheet" href="/stylesheets/style.css")
    script(src='jquery-3.2.0.min.js')
    script(src='javascripts/dropdown.js')
    block title
      title Lil-bytes: tech reasources for kids
  body
    .navbar
      .navbar-left 
        a(href='/')
          img.logo(src='http://i.imgur.com/a4cMFYJ.png')
        h1.logo-header Lil-Bytes
      .navbar-right
        a(href='/about')
          h3 About
        a(href='/contact')
          h3 Contact
        a(href='/users/login')
          h3 Login
        //- .dropdown
        //-   button.dropbtn(onclick='myFunction()') User
        //-   #myDropdown.dropdown-content
        //-     a(href='/users/signup') 
        //-       h3 Signup
        //-     a(href='/users/login') 
        //-       h3 Logout


block content
